@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    font-size: 16px;
}

:root {
    --color412: #412567;
}

/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
}

body>section,
.navbar {
    max-width: 1200px;
    margin: 0 auto;

}

.section-heading {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.btn {
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    padding: 12.5px 16px;
    background: linear-gradient(36deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

#wave {
    background: -webkit-linear-gradient(36deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


/* main style */

/* navbar related style */
header {
    background-color: var(--color412);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

}

.nav-title {
    color: white;
    font-size: 2rem;
}

.nav-menu {
    list-style: none;
    gap: 32px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    gap: 32px;
}
