@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    font-size: 16px;
}

:root {
    --color412: #412567;
    --text-color-1A0B: #1A0B2E;
    --color00F: #00FF88;
    --linear-grad: linear-gradient(45deg, #F7E93F 15%, #FB09B4 50%, #9100F8 100%);
}

/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
}

body>section,
.navbar {
    max-width: 1200px;
    margin: 0 auto;

}

.section-heading {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.btn {
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    padding: 12.5px 16px;
    background: linear-gradient(36deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

#wave {
    background: -webkit-linear-gradient(36deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


/* main style */

/* navbar related style */
header {
    background-color: var(--color412);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 24px 10px;

}

.nav-title {
    color: white;
    font-size: 2rem;
}

.nav-menu {
    list-style: none;
    gap: 32px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    gap: 32px;
}

.humburger-menu-icon {
    display: none;
}



/* Banner Related Style  */
.banner {
    background-image: url("../assets/hero-bg.png");
    background-position-x: center;
    background-size: cover;
    text-align: center;
    padding: 101px 0;
}

.banner-img-container {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: var(--linear-grad);
    border: 8px solid #2A186C;
    position: relative;

}

.banner-img-container img {
}

.new-badge {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text-color-1A0B);
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--color00F);
    border: none;
    border-radius: 1000px;
    padding: 8px 16px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);

}

.banner-title {
    font-weight: 800;
    font-size: 3.75rem;
    color: white;
    margin-top: 40px;
    padding-bottom: 8px;
}

.banner-text {
    color: white;
    margin-bottom: 24px;
}

.spotify-btn {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 8px;
}

.banner-subscribe-btn {
    color: var(--color00F);
    font-weight: 600;
    border: 1px solid var(--color00F);
    border-radius: 1000px;
    background-color: transparent;
    padding: 12px 20px;
}



@media screen and (max-width:576px) {
    .navbar {
        padding: 18px 20px;
    }

    .nav-title {
        font-size: 1.7rem;
    }
    .nav-menu,
    .nav-subscribe-btn {
        display: none;
    }

    .humburger-menu-icon {
        display: block;
        color: white;
        font-size: 24px;

    }

    .banner-img-container {
        height: 200px;
        width: 200px;
    }
    .banner-img-container img {
        height: 70px;
        width: 46.67px;
    }

    .banner-title {
        font-size: 2.625rem;
    }
}



@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-menu {
        gap: 15px;
    }
}