@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    font-size: 16px;
}

:root {
    --color412: #412567;
    --text-color-1A0B: #1A0B2E;
    --color00F: #00FF88;
    --color230E: #230E3D;
    --linear-grad: linear-gradient(45deg, #F7E93F 15%, #FB09B4 50%, #9100F8 100%);
}

/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.display-flex {
    display: flex;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
}

.section-shape {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}

.section-heading {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
}

.btn {
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    padding: 12.5px 16px;
    background: linear-gradient(36deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.btn:hover,
.nav-subscribe-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 3px 27px 0 #FB09B4;
}

.banner-subscribe-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 3px 27px 0 #00FF88;
}

#wave {
    background: -webkit-linear-gradient(36deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


/* main style */

/* navbar related style */
header {
    background-color: var(--color412);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 24px 10px;

}

.nav-title {
    color: white;
    font-size: 2rem;
}

.nav-menu {
    list-style: none;
    gap: 32px;
}

.nav-menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.90);
    gap: 32px;
}

.humburger-menu-icon {
    display: none;
    cursor: pointer;
}





/* Banner Related Style  */
.banner {
    background-image: url("../assets/hero-bg.png");
    background-position-x: center;
    background-size: cover;
    text-align: center;
    padding: 101px 0;
}

.banner-img-container {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: var(--linear-grad);
    border: 8px solid #2A186C;
    position: relative;

}

.new-badge {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text-color-1A0B);
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--color00F);
    border: none;
    border-radius: 1000px;
    padding: 8px 16px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);

}

.banner-title {
    font-weight: 800;
    font-size: 3.75rem;
    color: white;
    margin-top: 40px;
    padding-bottom: 8px;
}

.banner-text {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 24px;
}

.spotify-btn {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 8px;
}

.banner-subscribe-btn {
    color: var(--color00F);
    font-weight: 600;
    border: 1px solid var(--color00F);
    border-radius: 1000px;
    background-color: transparent;
    padding: 12px 20px;
}

/* About the POdcast Section */
.podcast-container {
    background-color: #1A0B2E;
    text-align: center;
}

.podcast {
    padding-top: 50px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.podcast_u1 {
    max-width: 700px;
    margin: 0 auto;
}

.podcast-text {
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.80);
    line-height: 20px;
}

.podcast-card-container {
    padding-top: 80px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.pod-card-number {
    color: var(--color00F);
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 8px;
}

.pod-card-text {
    color: rgba(255, 255, 255, 0.80);

}


/* Why choose Techwave reated style */

.why-choose-techwave {
    background-color: var(--color230E);
    padding-top: 120px;
    padding-bottom: 120px;
}

.why-choose {
    max-width: 1200px;
    margin: 0 auto;
}

.fa-bolt {
    font-size: 3rem;
    background: var(--linear-grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.choose-container {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;

    margin-top: 40px;
}

.cbox {
    background-color: rgba(53, 17, 101, 0.4);
    border: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.cbox-insider {
    padding: 40px;
}

.cbox-1 {
    grid-row: span 2;
}

.cbox-2 {
    grid-column: span 2;
}

.cbox-3 {
    grid-column: span 2;
}

.cbox-4 {
    grid-column: span 2;
}

.c-box-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 16px 0;
}

.c-box-text {
    color: rgba(255, 255, 255, 0.60);
    line-height: 24px;
}




@media screen and (max-width:576px) {
    .navbar {
        padding: 18px 20px;
    }

    .nav-title {
        font-size: 1.7rem;
    }

    .nav-menu,
    .nav-subscribe-btn {
        display: none;
    }

    .humburger-menu-icon:hover {
        font-size: 30px;
        color: #FB09B4;
    }

    .humburger-menu-icon {
        display: block;
        color: white;
        font-size: 24px;
    }

    .banner,
    .why-choose-techwave {
        padding: 40px 20px;
    }


    .banner-img-container {
        height: 200px;
        width: 200px;
    }

    .banner-img-container img {
        height: 70px;
        width: 46.67px;
    }

    .banner-title {
        font-size: 2.625rem;
    }

    .podcast-title,
    .why-choose-title {
        font-size: 2rem;
    }

    .podcast {
        padding: 40px 20px;
    }

    .podcast-card-container {
        padding: 40px 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .pod-card-number {
        font-size: 2.5rem;
    }

    .choose-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;

        margin-top: 16px;
    }

    .cbox-insider {
        padding: 24px;
    }

    .cbox-1,
    .cbox-2,
    .cbox-3,
    .cbox-4 {
        grid-row: span 1;
        grid-column: span 1;
    }


}



@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-menu {
        gap: 15px;
    }
}